<!DOCTYPE html>
<html lang="en">
<head>
    <link href="stylesheets/stream.css" rel="stylesheet" />

    <link rel="stylesheet" href="stylesheets/font-awesome.min.css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
</head>
<body>
<header>
    <%- include('partials/navbar.ejs', {active: "usermenu"}); %>
    <%if(error=="")%>
    <%if(error!="") {%> <div class= "alert alert-danger" <strong> <%= error %> </strong> </div> <%}%>
</header>
        <h1> 
            <div class="row main">
                <div class="panel-heading">
                    <div class="panel-title text-left" >
                        <h1 class="title" style="font-size:50px; padding-left:40px;"> <%= user.company %> Announcements</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </h1>
        <% var temp=0 %>
        <% for(var i = (count-1); i >= 0; i--) {%>
            <%if(announcement[i].company==user.company) {%>
             <% temp=1 %>
             <% } %>
          <%if(announcement[i].company!=user.company) {%>
            <% } %>
        <% } %>
        <h1><%if(temp==0) {%> <div style="margin-left: 40px;"> <p>  There are no Announcements! </p> </div><%}%> </h1>
        <ul><%if(temp==0) {%> <br> <li class="btn btn-default"><a style="font-size:20px;" class="btn btn-default" href="/announcement">  Post an announcement </a></li><%}%> </ul>
<ul>
<% for(var i = (count-1); i >= 0; i--) {%>
    <%if(announcement[i].company==user.company) {%>  
        <%- include("partials/post.ejs", {i: i}) %> 
    <% } %>
<% } %>
</ul>     
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="javascripts/jquery-2.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="javascripts/bootstrap1.min.js"></script>
<script src="javascripts/wow.min.js"></script>
<script src="javascripts/fancybox/jquery.fancybox.pack.js"></script>
<script src="javascripts/jquery.easing.1.3.js"></script>
<script src="javascripts/jquery.bxslider.min.js"></script>
<script src="javascripts/jquery.prettyPhoto.js"></script>
<script src="javascripts/jquery.isotope.min.js"></script>
<script src="javascripts/functions.js"></script>
<script>wow = new WOW({}).init();</script>
</body>
</html>
