<!DOCTYPE html>
<html lang="en">
<head>
    <link href="stylesheets/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="stylesheets/font-awesome.min.css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
</head>
<body>
<header>
    <%- include('partials/navbar.ejs', {active: "usermenu"}); %>
    <%if(error=="")%>
    <%if(error!="") {%> <div class= "alert alert-danger" <strong> <%= error %> </strong> </div> <%}%>
</header>
<div class="container">
    <h1>Edit password</h1>
  	<hr>
	<div class="row">
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div>
          <%if(error=="")%>
          <%if(error!="") {%> <div class="alert alert-info alert-dismissable" <strong> <%= error %> </strong> </div> <%}%>
          <a class="panel-close close" data-dismiss="alert">×</a>
        </div>
        <h3>Password</h3>
        
        <form class="form-horizontal" action="/change_password">
          <div class="form-group">
            <label class="col-lg-3 control-label">Current Password:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="curent_pass", required=true>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Password:</label>
            <div class="col-lg-8">
              <input class="form-control" rows="3" type="text" name="pass", required=true>
            </div>
            </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Confirm Password:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="com_pass", required=true>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button type="submit" class="btn btn-primary" href="/change_password">Save Password</button>
              <input type="reset" class="btn btn-primary" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="javascripts/jquery-2.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="javascripts/bootstrap1.min.js"></script>
<script src="javascripts/wow.min.js"></script>
<script src="javascripts/fancybox/jquery.fancybox.pack.js"></script>
<script src="javascripts/jquery.easing.1.3.js"></script>
<script src="javascripts/jquery.bxslider.min.js"></script>
<script src="javascripts/jquery.prettyPhoto.js"></script>
<script src="javascripts/jquery.isotope.min.js"></script>
<script src="javascripts/functions.js"></script>
<script>wow = new WOW({}).init();</script>
</body>
</html>